<% book.book_comments.each do |f| %>
<table>
 <tbody>
 <tr>
  <td>
    <%= link_to user_path(f.user) do %>
    <%= image_tag f.user.get_profile_image, size:"50x50" %><br>
    <%= f.user.name %>
    <% end %>
  </td>
  <td><%= f.comment %></td>
  <td>
    <% if f.user == current_user %>
    <%= link_to 'Destroy', book_book_comment_path(f.book,f), class: "btn btn-sm btn-danger", method: :delete, remote: true %>
    <% end %>
  </td>
 </tr>
 </tbody>
</table>
<% end %>